<div class="col-lg-8 mx-auto">
  <h1>New Student</h1>

  <%= render "form", student: @student %>'
  <div>
     <%= link_to "Back to students", students_path, class: "btn btn-secondary" %>
  </div>

</div>

