<div class="col-lg-10 d-flex flex-column align-items-center justify-content-center py-5" >
 <h1>Welcome to Student Sphere!</h1>
 <div style="width: 500px; height: 500px; overflow: hidden;">
  <%= image_tag("student-sphere-logo.png", width: "100%") %>
 </div>
</div>