<div class="col-lg-8">
<h1>Edit project</h1>

<%= render "form", project: @project %>

<div>
  <%= link_to "Back to project", admin_project_path(@project), class: "btn btn-secondary" %>
</div>
</div>
